@font-face {
  font-family: 'MyWebFont';
  src: url('cmunsi.ttf')  format('truetype'); /* Safari, Android, iOS */
}

div {
  height:100vm; width: 56.25vm; /* IE9 fallback */
  width: 56.25vmin; height: 100vmin;
  position: absolute;
  top:0;bottom:0;
  left:0;right:0;
  margin: auto;
}

/*** FOR THE DEMO **/
body,html {
	margin:0;
	background:#123752;
	color:#fff;
}

div {
	background-image: url("fundov.jpg");	
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain; /* Resize the background image to cover the entire container */
	font-family: 'MyWebFont', sans-serif;
	font-size:4vmin;
	box-sizing:border-box;
	padding:8vmin;
}
	
a {
	color:#ccc;
}

